@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@500&display=swap');

html {
    box-sizing: border-box;
}
  
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-family: 'Fraunces', serif;
    margin: 0;
    padding: 0;
    color: #03ac0e;
    cursor: pointer;
}

.navbar {
    width: 100%;
    padding-bottom: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navLink {
    list-style-type: none;
    display: flex;
    /* align-items: center; */
}

.navItem a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    color: #03ac0e;
}

.navItem a:hover {
    color: #07790e;
}

.searchbar {
    padding: 8px;
    border: 1px solid #D0CFCE;
    border-radius: 6px;
    outline: none;
    color: black;
    width: 700px;
}

.searchbar:focus {
    border: 1px solid #03ac0e;
    transition: 0.35s ease;
}

.fa {
    position: relative;
    float: right;
    top: 3px;
    right: 34px;
    padding: 4px;
}

.fa:hover{
    color: #03ac0e;
}

section {
    margin: 0 60px;
}

.sectitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.sectitleL {
    font-size: 20px;
}

.sectitleL p {
    color: #7a7a7a;
    font-size: 15px;
}

.sectitleR {
    font-size: 25px;
    vertical-align: baseline;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectitleR p {
    border: 1px solid #D0CFCE;
    padding: 2px 10px; 
    border-radius: 30px;
}

.desc {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 70%;
}
.desc ul {
    margin-top: 10px;
    margin-left: 30px;
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.wanita, .pria {
    display: inline-block;
    border: 1px solid #D0CFCE;
    padding: 2px 10px; 
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    margin-bottom: 15px;
    background-color: rgb(226, 226, 226);
    padding: 10px 0;
}

#ukuran{
    margin-bottom: 10px;
}

table {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.gratis ol {
    margin: 10px 30px;
}

.gratistitle {
    font-size: 20px;
}

input[type=submit] {
    width: 100%;
    border: 0 solid #03ac0e;
    background-color: #03ac0e;
    padding: 14px 20px;
    border-radius: 7px;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #07790e;
}

footer {
    text-align: center;
    background-color: rgb(226, 226, 226);
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    padding: 0 10px;
    color: gray;
}

footer a:hover {
    color: #03ac0e;
}

img:hover {
    transform: scale(1.2);
    transition: transform .2s
}